{deps, [
  {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {'iso8601', ".*", {git, "git@github.com:seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.