[{doapie,
  [{
%%  Set your auth token here, retrieve it on https://cloud.digitalocean.com/settings/applications
%%  Token must have read-write permissions if you want to use API for creating/modifying/deleting resources
%%  @see https://developers.digitalocean.com/#authentication
    token, undefined
  }]
}].